.el-slider {
  --el-slider-height: 3px !important;
  --el-slider-button-size: 18px !important;

  @apply min-w-[50px];

  & .el-slider__runway {
    @apply bg-control shadow-3d cursor-default;
  }

  & .el-slider__bar {
    @apply bg-primary-500;
  }

  & .el-slider__button-wrapper,
  & .el-slider__button-wrapper:hover {
    @apply cursor-default;
  }

  & .el-slider__button {
    @apply bg-white border-none -mt-1 shadow;

    &.el-slider__button.dragging, 
    &.hover, 
    &:hover {
      @apply scale-100 cursor-default;
    }

    &:active {
      @apply bg-gray-100 dark:bg-gray-400;
    }
  }
}

@media (prefers-color-scheme: light) {
  .el-slider {
    & .el-slider__button {
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1),
        0 1px 3px rgba(0, 0, 0, 0.1);
    }

    & .el-slider__runway {
      @apply bg-black/10 shadow-none;
    }
  }
}
