.el-slider {
  --el-slider-height: 3px !important;
  --el-slider-button-size: 12px !important;

  & .el-slider__runway {
    @apply bg-control shadow-3d cursor-default;
  }

  & .el-slider__bar {
    @apply bg-primary-500;
  }

  & .el-slider__button-wrapper,
  & .el-slider__button-wrapper:hover {
    @apply cursor-default;
  }

  & .el-slider__button {
    @apply bg-white border-none -mt-0.5;

    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5) !important;

    &.el-slider__button.dragging, 
    &.hover, 
    &:hover {
      @apply scale-100 cursor-default;
    }

    &:active,
    &.dragging {
      @apply bg-gray-400;
    }
  }
}
